<html lang='fr'>
  <head>
    <title>Prélèvement {{reference}}</title>
    <link rel='stylesheet' href='{{dsfrLink}}' />
  </head>
  <body>
    <header role='banner' class='fr-header'>
      <div class='fr-header__body'>
        <div class='fr-container'>
          <div class='fr-header__body-row'>
            <div class='fr-header__brand'>
              <div class='fr-header__brand-top'>
                <div class='fr-header__logo'>
                  <p class='fr-logo'>
                    Ministère
                    <br />
                    de l'Agriculture
                    <br />
                    et de la Souveraineté
                    <br />alimentaire
                  </p>
                </div>
              </div>
              <div class='fr-header__service'>
                <p class='fr-header__service-title'>Plan de Surveillance
                  <br />Plan de Contrôle
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class='fr-container fr-pt-2w'>
      <section class='fr-py-3w'>
        <h1>Prélévement
          {{reference}}
        </h1>
        <h2 class='fr-h4 fr-mb-1w'>Informations générales</h2>
        <div class='fr-mb-2w'>
          <div class='fr-grid-row fr-grid-row--gutters'>
            <div class='fr-col-4'>
              <div>
                <div class='label'>
                  Date de prélèvement
                </div>
                {{sampledAt}}
              </div>
            </div>
          </div>
        </div>
        <h2 class='fr-h4 fr-mb-1w'>Informations spécifiques</h2>
        <div class='fr-mb-2w'>
          <div class='fr-grid-row fr-grid-row--gutters'>
            <div class='fr-col-4'>
              <div class='label'>
                Catégorie de matrice
              </div>
              {{matrixKind}}
            </div>
            <div class='fr-col-4'>
              <div class='label'>
                Matrice
              </div>
              {{matrix}}
            </div>
            <div class='fr-col-4'>
              <div class='label'>
                Partie du végétal
              </div>
              {{matrixPart}}
            </div>
          </div>
          <div class='fr-grid-row fr-grid-row--gutters'>
            <div class='fr-col-4'>
              <div class='label'>
                Type de culture
              </div>
              {{cultureKind}}
            </div>
            <div class='fr-col-4'>
              <div class='label'>
                Stade de prélèvement
              </div>
              {{stage}}
            </div>
            <div class='fr-col-4'>
              <div class='label'>
                Contrôle libératoire
              </div>
              {{releaseControl}}
            </div>
          </div>
          <div class='fr-grid-row fr-grid-row--gutters'>
            <div class='fr-col-4'>
              <div class='label'>
                Condition de maintien du prélèvement sous température dirigée
              </div>
              {{temperatureMaintenance}}
            </div>
            <div class='fr-col-4'>
              <div class='label'>
                Date de péremption
              </div>
              {{expiryDate}}
            </div>
            <div class='fr-col-4'>
              <div class='label'>
                Condition de stockage
              </div>
              {{storageCondition}}
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
