<html lang='fr'>
  <head>
    <title>Prélèvement {{reference}}</title>
    <link rel='stylesheet' href='{{dsfrLink}}' />
  </head>
  <body>
    <header role='banner' class='fr-header'>
      <div class='fr-header__body'>
        <div class='fr-container'>
          <div class='fr-header__body-row'>
            <div class='fr-header__brand'>
              <div class='fr-header__brand-top'>
                <div class='fr-header__logo'>
                  <p class='fr-logo'>
                    Ministère
                    <br />
                    de l'Agriculture
                    <br />
                    et de la Souveraineté
                    <br />alimentaire
                  </p>
                </div>
                <div class='fr-header__operator'>
                  <img
                    src='{{assetsPath}}/logo.svg'
                    style='max-height: 100px; max-width: 100px; margin-bottom: 1rem;'
                  />
                </div>
              </div>
            </div>
            <div class='fr-header__tools'>
              <div class='fr-header__tools-links'>
                <h6 class='fr-text--xs'>Document d'accompagnement du prélèvement</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class='fr-container fr-pt-2w'>
        <div class='sample-reference'>
          <h2 class='fr-text--lg fr-text--regular fr-mb-0'>
            Prélèvement
            <b>{{reference}}</b>
          </h2>
          <span class='fr-text--sm'>
            <b>Plan de contrôle</b>
            réalisé le
            {{sampledAt}}
          </span>
        </div>

        <section>
          <div class='sample-section-header'>
            <img src='{{assetsPath}}/illustrations/programmation.svg' />
            <span>Contexte du prélèvement</span>
          </div>
          <div class='sample-section-body'>
            <div class='sample-section-block'>
              <span class='fr-icon-user-line'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Donneur d'ordre
                    </div>
                    <div class='value'>
                      {{establishment.name}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Adresse
                    </div>
                    <div class='value'>
                      {{#if establishment.additionalLine}}
                        {{establishment.additionalLine}}<br />
                      {{/if}}
                      {{establishment.street}}<br />
                      {{establishment.postalCode}} {{establishment.city}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='sample-section-block'>
              <span class='fr-icon-map-pin-2-line'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Préleveur
                    </div>
                    <div class='value'>
                      {{sampler.firstName}}
                      {{sampler.lastName}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Email
                    </div>
                    <div class='value'>
                      {{sampler.email}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='sample-section-block'>
              <span class='fr-icon-map-pin-2-line'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Date de prélèvement
                    </div>
                    <div class='value'>
                      {{sampledAt}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Stade de prélèvement
                    </div>
                    <div class='value'>
                      {{stage}}
                    </div>
                  </div>
                </div>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Numéro d'identification
                    </div>
                    <div class='value'>
                      {{reference}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Numéro de scellé
                    </div>
                    <div class='value'>
                      {{sealId}}
                    </div>
                  </div>
                </div>
                {{#if notesOnCreation}}
                  <div class='fr-grid-row fr-grid-row--gutters'>
                    <div class='fr-col-12'>
                      <div class='label'>
                        Notes
                      </div>
                      {{notesOnCreation}}
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
            <div class='sample-section-block'>
              <span class='fr-icon-map-pin-2-line'></span>
              <div class='fr-container fr-pl-1w'>

                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Entité contrôlée
                    </div>
                    <div class='value'>
                      {{company.name}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Siret
                    </div>
                    <div class='value'>
                      {{company.siret}}
                    </div>
                  </div>
                </div>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Identifiant Resytal
                    </div>
                    <div class='value'>
                      {{sample.resytalId}}&nbsp;
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Département
                    </div>
                    <div class='value'>
                      {{department}}
                    </div>
                  </div>
                </div>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Adresse
                    </div>
                    <div class='value'>
                      {{company.address}}
                      <br />
                      {{company.postalCode}}&nbsp;
                      {{company.city}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      N° ou appellation de la parcelle
                    </div>
                    <div class='value'>
                      {{sample.parcel}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class='sample-section-header'>
            <img src='{{assetsPath}}/illustrations/food.svg' />
            <span>Matrice contrôlée</span>
          </div>
          <div class='sample-section-body'>
            <div class='sample-section-block'>
              <span class='fr-icon-user-line'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Matrice
                    </div>
                    <div class='value'>
                      {{matrix}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      LMR/ Partie du végétal concernée
                    </div>
                    <div class='value'>
                      {{matrixPart}}
                    </div>
                  </div>
                </div>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-12 sample-section-item'>
                    <div class='label'>
                      Details de la matrice
                    </div>
                    <div class='value'>
                      {{matrixDetails}}&nbsp;
                    </div>
                  </div>
                </div>
                {{#if notesOnMatrix}}
                  <div class='fr-grid-row fr-grid-row--gutters'>
                    <div class='fr-col-12'>
                      <div class='label'>
                        Notes
                      </div>
                      <div class='value'>
                        {{notesOnMatrix}}
                      </div>
                    </div>
                  </div>
                {{/if}}
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Type de culture
                    </div>
                    <div class='value'>
                      {{sample.cultureKind}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Stade de prélèvement
                    </div>
                    <div class='value'>
                      {{stage}}
                    </div>
                  </div>
                </div>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Type de contrôle
                    </div>
                    <div class='value'>
                      TODO
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Laboratoire destinataire
                    </div>
                    <div class='value'>
                      {{#if laboratory}}
                        {{laboratory.name}}
                      {{else}}
                        &nbsp;
                      {{/if}}
                    </div>
                  </div>
                </div>
                {{#if notesOnItems}}
                  <div class='fr-grid-row fr-grid-row--gutters'>
                    <div class='fr-col-12'>
                      <div class='label'>
                        Notes
                      </div>
                      {{notesOnItems}}
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </section>
        <div class='fr-card fr-card--xs fr-my-1w'>
          <div class='fr-container fr-my-1w'>
            <div class='fr-grid-row fr-grid-row--gutters'>
              <div class='fr-col-12'>
                <div class='label'>
                  Directive 2002/63 respectée
                </div>
                {{#if compliance200263}}
                  {{compliance200263}}
                {{else}}
                  <input type='checkbox' class='fr-mr-1w' />Oui
                  <input type='checkbox' class='fr-ml-2w fr-mr-1w' />Non
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <div class='fr-card fr-card--xs fr-my-1w'>
          <div class='fr-container fr-my-1w'>
            <div class='fr-grid-row fr-grid-row--gutters'>
              <div class='fr-col-12'>
                <div class='label'>
                  Analyses demandées
                </div>
                {{#if matrix}}
                  <ul>
                    <li>Analyse multi-résidus
                      {{#if multiSubstances}}dont :
                        <ul>
                          {{#each multiSubstances}}
                            <li> {{this}} </li>{{/each}}
                        </ul>
                      {{/if}}
                    </li>
                    {{#if monoSubstances}}
                      <li>Analyse mono-résidu :
                        <ul>
                          {{#each monoSubstances}}
                            <li> {{this}} </li>{{/each}}
                        </ul>
                      </li>
                    {{/if}}
                  </ul>
                {{else}}
                  &nbsp;
                  <br />&nbsp;
                  <br />&nbsp;
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
