<html lang='fr'>
  <head>
    <title>Prélèvement {{reference}}</title>
    <link rel='stylesheet' href='{{dsfrLink}}' />
  </head>
  <body>
<!--  Uncomment the following code to add the header to the document in order to make a screenshot and use in header template-->
<!--    <header role='banner' class='fr-header'>-->
<!--      <div class='fr-header__body'>-->
<!--        <div class='fr-container'>-->
<!--          <div class='fr-header__body-row'>-->
<!--            <div class='fr-header__brand'>-->
<!--              <div class='fr-header__brand-top'>-->
<!--                <div class='fr-header__logo'>-->
<!--                  <p class='fr-logo'>-->
<!--                    Ministère-->
<!--                    <br />-->
<!--                    de l'Agriculture-->
<!--                    <br />-->
<!--                    et de la Souveraineté-->
<!--                    <br />alimentaire-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class='fr-header__operator'>-->
<!--                  <img-->
<!--                    src='{{assetsPath}}/logo.svg'-->
<!--                    style='max-height: 100px; max-width: 100px; margin-bottom: 1rem;'-->
<!--                  />-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class='fr-header__tools'>-->
<!--              <div class='fr-header__tools-links'>-->
<!--                <h6 class='fr-text--xs'>Document d'accompagnement du prélèvement</h6>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </header>-->

    <main>
      <div class='fr-container'>
        <div class='sample-reference'>
          <h2 class='fr-text--lg fr-text--regular fr-mb-0'>
            Prélèvement
            <b>{{reference}}</b>
          </h2>
          <span class='fr-text--sm'>
            réalisé le
            {{sampledAt}}
          </span>
        </div>

        <section>
          <div class='sample-section-header'>
            <img src='{{assetsPath}}/illustrations/programmation.svg' />
            <span>Contexte du prélèvement</span>
          </div>
          <div class='sample-section-body'>
            <div class='sample-section-block'>
              <span class='fr-icon-government-line fr-icon--sm'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Donneur d'ordre
                    </div>
                    <div class='value'>
                      {{establishment.name}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Adresse
                    </div>
                    <div class='value'>
                      {{#if establishment.additionalLine}}
                        {{establishment.additionalLine}}<br />
                      {{/if}}
                      {{establishment.street}}<br />
                      {{establishment.postalCode}} {{establishment.city}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='sample-section-block'>
              <span class='fr-icon-user-line fr-icon--sm'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Préleveur
                    </div>
                    <div class='value'>
                      {{sampler.firstName}}
                      {{sampler.lastName}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Email
                    </div>
                    <div class='value'>
                      {{sampler.email}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='sample-section-block'>
              <span class='fr-icon-seedling-line fr-icon--sm'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-3 sample-section-item'>
                    <div class='label'>
                      Date de prélèvement
                    </div>
                    <div class='value'>
                      {{sampledAtDate}}
                    </div>
                  </div>
                  <div class='fr-col-3 sample-section-item'>
                    <div class='label'>
                      Heure de prélèvement
                    </div>
                    <div class='value'>
                      {{sampledAtTime}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Contexte du prélèvement
                    </div>
                    <div class='value'>
                      {{context}}
                    </div>
                  </div>
                </div>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Numéro d'identification
                    </div>
                    <div class='value'>
                      {{reference}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Cadre juridique
                    </div>
                    <div class='value'>
                      {{legalContext}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='sample-section-block'>
              <span class='fr-icon-road-map-line fr-icon--sm'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Entité contrôlée
                    </div>
                    <div class='value'>
                      {{company.name}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Siret
                    </div>
                    <div class='value'>
                      {{company.siret}}
                    </div>
                  </div>
                </div>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Identifiant Resytal
                    </div>
                    <div class='value'>
                      {{sample.resytalId}}&nbsp;
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Département
                    </div>
                    <div class='value'>
                      {{department}}
                    </div>
                  </div>
                </div>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Adresse
                    </div>
                    <div class='value'>
                      {{company.address}}
                      <br />
                      {{company.postalCode}}&nbsp;
                      {{company.city}}
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      N° ou appellation de la parcelle
                    </div>
                    <div class='value'>
                      {{sample.parcel}}&nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{#if notesOnCreation}}
              <div class='sample-section-block'>
                <span class='fr-icon-quote-line fr-icon--sm'></span>
                <div class='fr-container fr-pl-1w'>
                  <div class='fr-grid-row fr-grid-row--gutters'>
                    <div class='fr-col-12 sample-section-item'>
                      <div class='label'>
                        Note additionnelle (ex : urgence, consignation...)
                      </div>
                      <div class='value'>
                        {{breaklines notesOnCreation}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
        </section>

        <section>
          <div class='sample-section-header'>
            <img src='{{assetsPath}}/illustrations/food.svg' />
            <span>Matrice contrôlée</span>
          </div>
          <div class='sample-section-body'>
            <div class='sample-section-block'>
              <span class='fr-icon-restaurant-line fr-icon--sm'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Matrice
                    </div>
                    <div class='value'>
                      {{matrix}}&nbsp;
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      LMR/ Partie du végétal concernée
                    </div>
                    <div class='value'>
                      {{matrixPart}}&nbsp;
                    </div>
                  </div>
                </div>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-12 sample-section-item'>
                    <div class='label'>
                      Details de la matrice
                    </div>
                    <div class='value'>
                      {{matrixDetails}}&nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='sample-section-block'>
              <span class='fr-icon-seedling-line fr-icon--sm'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Type de culture
                    </div>
                    <div class='value'>
                      {{sample.cultureKind}}&nbsp;
                    </div>
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Stade de prélèvement
                    </div>
                    <div class='value'>
                      {{stage}}&nbsp;
                    </div>
                  </div>
                </div>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-6 sample-section-item'>
                    {{#if matrix}}
                      {{#if sample.releaseControl}}
                        <div class='label'>
                          Type de contrôle
                        </div>
                        <div class='value'>
                          Contrôle libératoire
                        </div>
                      {{/if}}
                    {{else}}
                      <div class='label'>
                        Type de contrôle
                      </div>
                      <div class='value'>
                        &nbsp;
                      </div>
                    {{/if}}
                  </div>
                  <div class='fr-col-6 sample-section-item'>
                    <div class='label'>
                      Laboratoire destinataire
                    </div>
                    <div class='value'>
                      {{#if laboratory}}
                        {{laboratory.name}}
                      {{else}}
                        &nbsp;
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <span class='fr-text--bold fr-text--sm fr-mt-3w fr-mb-0'>Analyses
              demandées</span>
            <div class='sample-section-block'>
              <span class='fr-icon-microscope-line fr-icon--sm'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-12 sample-section-item'>
                    {{#if matrix}}
                      {{#if monoSubstances}}
                        <div class='label'>
                          Analyse mono-résidu
                        </div>
                        {{#each monoSubstances}}
                          <div class='value'>
                            {{this}}
                          </div>
                        {{/each}}
                      {{/if}}
                    {{else}}
                      <div class='label'>
                        Analyse mono-résidu
                      </div>
                      <div class='value'>
                        &nbsp;
                      </div>
                      <div class='value'>
                        &nbsp;
                      </div>
                      <div class='value'>
                        &nbsp;
                      </div>
                    {{/if}}
                  </div>
                  <div class='fr-col-12 sample-section-item'>
                    {{#if matrix}}
                      <div class='label'>
                        Analyse multi-résidus dont :
                      </div>
                      {{#if multiSubstances}}
                        {{#each multiSubstances}}
                          <div class='value'>
                            {{this}}
                          </div>
                        {{/each}}
                      {{/if}}
                    {{else}}
                      <div class='label'>
                        Analyse multi-résidus
                      </div>
                      <div class='value'>
                        &nbsp;
                      </div>
                      <div class='value'>
                        &nbsp;
                      </div>
                      <div class='value'>
                        &nbsp;
                      </div>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
            {{#if notesOnMatrix}}
              <div class='sample-section-block'>
                <span class='fr-icon-quote-line fr-icon--sm'></span>
                <div class='fr-container fr-pl-1w'>
                  <div class='fr-grid-row fr-grid-row--gutters'>
                    <div class='fr-col-12 sample-section-item'>
                      <div class='label'>
                        Note additionnelle
                      </div>
                      <div class='value'>
                        {{breaklines notesOnMatrix}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
        </section>

        <section>
          <div class='sample-section-header'>
            <img src='{{assetsPath}}/illustrations/hands.svg' />
            <span>Échantillons</span>
          </div>
          <div class='sample-section-body'>
            <div class='sample-section-block'>
              <div class='label'>
                En application de l’article R. 250-2 du code
                rural et de la pêche maritime, l(es) ‘échantillon(s) a (ont) été
                placé(s) sous scellé(s). L'étiquette d’identification comportant
                le numéro est glissée dans l'emballage placé sous scellé porteur
                d’un numéro d’ordre unique.
              </div>
            </div>
            <div class='fr-text--bold fr-text--sm fr-mb-0'><div>Échantillon n°{{itemNumber}}</div>
              {{#if isSecondSampleItem}}
                <span class='label'>
                Nous avons proposé de laisser l’échantillon n°1 entre les mains
                de l'intéressé qui en a accepté le dépôt et s’est engagé à le
                conserver sous température négative.
              </span>
              {{/if}}
            </div>
            <div class='sample-section-block'>
              <span class='fr-icon-test-tube-line fr-icon--sm'></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-3 sample-section-item'>
                    <div class='label'>
                      Nombre
                    </div>
                    <div class='value'>
                      {{quantity}}&nbsp;
                    </div>
                  </div>
                  <div class='fr-col-3 sample-section-item'>
                    <div class='label'>
                      Unité de mesure
                    </div>
                    <div class='value'>
                      {{quantityUnit}}&nbsp;
                    </div>
                  </div>
                  <div class='fr-col-3 sample-section-item'>
                    <div class='label'>
                      Numéro de scellé
                    </div>
                    <div class='value'>
                      {{sealId}}&nbsp;
                    </div>
                  </div>
                  <div class='fr-col-3 sample-section-item'>
                    <div class='label'>
                      Directive 2002/63
                    </div>
                    <div class='value'>
                      {{#if compliance200263}}
                        <input
                          type='checkbox'
                          class='fr-mr-1w'
                          checked
                        />{{compliance200263}}
                      {{else}}
                        <input type='checkbox' class='fr-mr-1w' />Respectée
                        <br /><input type='checkbox' class='fr-mr-1w' />Non
                        respectée
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='sample-section-block'>
              <span
                class='fr-icon-error-warning-line fr-icon--xs fr-pt-1v'
              ></span>
              <div class='fr-container fr-pl-1w'>
                <div class='fr-grid-row fr-grid-row--gutters'>
                  <div class='fr-col-12 sample-section-item'>
                    <div class='label'>
                      En application de l’article R. 250-2 les échantillons
                      prélevés ne donnent lieu à aucun remboursement.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{#if notesOnItems}}
              <div class='sample-section-block'>
                <span class='fr-icon-quote-line fr-icon--sm'></span>
                <div class='fr-container fr-pl-1w'>
                  <div class='fr-grid-row fr-grid-row--gutters'>
                    <div class='fr-col-12 sample-section-item'>
                      <div class='label'>
                        Note additionnelle spécifiant une éventuelle déclaration
                        du détenteur de la marchandise
                      </div>
                      <div class='value'>
                        {{breaklines notesOnItems}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
        </section>

        <div class='fr-alert fr-alert--warning fr-mt-3w'>
          <h3 class='fr-alert__title fr-text--sm'>Conservation et transmission
            de l’échantillon</h3>
          <p class='fr-text--xs'>L'échantillon doit être conservé dans des
            conditions optimales pour préserver ses propriétés initiales. La
            personne qui accepte le dépôt de ce scellé est prévenue qu'elle
            assume l'entière responsabilité de sa conservation. Elle ne peut en
            faire aucun usage et doit le remettre à l'autorité judiciaire dès
            que celle-ci le lui réclame.</p>
        </div>
      </div>
    </main>
  </body>
</html>
