<html lang='fr'>
  <head>
    <title>Prélèvement {{reference}}</title>
  </head>
  <body>
    <header role='banner' class='fr-header'>
      <div class='fr-header__body'>
        <div class='fr-container'>
          <div class='fr-header__body-row'>
            <div class='fr-header__brand'>
              <div class='fr-header__brand-top'>
                <div class='fr-header__logo'>
                  <p class='fr-logo'>
                    Ministère
                    <br />
                    de l'Agriculture
                    <br />
                    et de la Souveraineté
                    <br />alimentaire
                  </p>
                </div>
                <div class='fr-header__operator'>
                  <img
                    src='{{inlineImage "logo.svg"}}'
                    style='max-height: 100px; max-width: 100px; margin-bottom: 1rem;'
                  />
                </div>
              </div>
            </div>
            <div class='document-title'>
              <b>
                {{#if fullVersion}}
                  Procès verbal de prélèvement
                {{else}}
                  Étiquette du prélèvement
                {{/if}}
              </b>
              <br />
              Prélèvement
              <b>{{reference}}</b>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <td>
              <div class='header-space'>&nbsp;</div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class='content'>
                <div class='fr-container'>
                  <div class='sample-reference'>
                    <h2 class='fr-text--lg fr-text--regular fr-mb-0'>
                      Prélèvement
                      <b>{{reference}}</b>
                    </h2>
                    {{#if (and sampledAt fullVersion)}}
                      <span class='fr-text--sm'>
                      réalisé le
                        {{sampledAt}}
                      </span>
                    {{/if}}
                  </div>

                  <section class='sample-section  {{#if fullVersion}}full-version{{/if}}'>
                    <div class='sample-section-header'>
                      <img src='{{inlineImage "programmation.svg"}}' />
                      <span>Contexte du prélèvement</span>
                    </div>
                    <div class='sample-section-body'>
                      {{#if fullVersion}}
                        <div class='sample-section-block'>
                          <span
                            class='fr-icon-government-line fr-icon--sm'
                          ></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Donneur d'ordre
                                </div>
                                <div class='value'>
                                  {{establishment.name}}
                                </div>
                              </div>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Adresse
                                </div>
                                <div class='value'>
                                  {{#if establishment.additionalLine}}
                                    {{establishment.additionalLine}}<br />
                                  {{/if}}
                                  {{establishment.street}}<br />
                                  {{establishment.postalCode}} {{establishment.city}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {{else}}
                        <div class='sample-section-block'>
                          <span class='fr-icon-seedling-line fr-icon--sm'></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Contexte du prélèvement
                                </div>
                                <div class='value'>
                                  {{context}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class='sample-section-block'>
                          <span class='fr-icon-time-line fr-icon--sm'></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-3 sample-section-item'>
                                <div class='label'>
                                  Date de prélèvement
                                </div>
                                <div class='value'>
                                  {{sampledAtDate}}&nbsp;
                                </div>
                              </div>
                              <div class='fr-col-3 sample-section-item'>
                                <div class='label'>
                                  Heure de prélèvement
                                </div>
                                <div class='value'>
                                  {{sampledAtTime}}&nbsp;
                                </div>
                              </div>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Donneur d'ordre
                                </div>
                                <div class='value'>
                                  {{establishment.name}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {{/if}}
                      <div class='sample-section-block'>
                        <span class='fr-icon-user-line fr-icon--sm'></span>
                        <div class='fr-container fr-pl-1w'>
                          <div class='fr-grid-row fr-grid-row--gutters'>
                            <div class='fr-col-6 sample-section-item'>
                              <div class='label'>
                                L'agent habilité
                              </div>
                              <div class='value'>
                                {{sampler.firstName}}
                                {{sampler.lastName}}
                              </div>
                            </div>
                            <div class='fr-col-6 sample-section-item'>
                              <div class='label'>
                                Email
                              </div>
                              <div class='value'>
                                {{sampler.email}}
                              </div>
                            </div>
                            <div class='fr-col-12 fr-mt-0'>
                              <div class='notice'>
                                habilitée(s) à procéder à l’inspection, et au contrôle tels que prévus aux articles R.206-1,
                                R.206-2, R.250-1 et L.250-6 du code rural et de la pêche maritime
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {{#if fullVersion}}
                        <div class='sample-section-block'>
                          <span class='fr-icon-seedling-line fr-icon--sm'></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-3 sample-section-item'>
                                <div class='label'>
                                  Date de prélèvement
                                </div>
                                <div class='value'>
                                  {{sampledAtDate}}&nbsp;
                                </div>
                              </div>
                              <div class='fr-col-3 sample-section-item'>
                                <div class='label'>
                                  Heure de prélèvement
                                </div>
                                <div class='value'>
                                  {{sampledAtTime}}&nbsp;
                                </div>
                              </div>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Contexte du prélèvement
                                </div>
                                <div class='value'>
                                  {{context}}
                                </div>
                              </div>
                            </div>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Numéro d'identification
                                </div>
                                <div class='value'>
                                  {{reference}}
                                </div>
                              </div>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Cadre juridique
                                </div>
                                <div class='value'>
                                  {{legalContext}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class='sample-section-block'>
                          <span class='fr-icon-road-map-line fr-icon--sm'></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Entité contrôlée
                                </div>
                                <div class='value'>
                                  {{company.name}}
                                </div>
                              </div>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Siret
                                </div>
                                <div class='value'>
                                  {{company.siret}}
                                </div>
                              </div>
                            </div>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Identifiant Resytal
                                </div>
                                <div class='value'>
                                  {{sample.resytalId}}&nbsp;
                                </div>
                              </div>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Département
                                </div>
                                <div class='value'>
                                  {{department}}
                                </div>
                              </div>
                            </div>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Adresse
                                </div>
                                <div class='value'>
                                  {{company.address}}
                                  <br />
                                  {{company.postalCode}}&nbsp;
                                  {{company.city}}
                                </div>
                              </div>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  N° ou appellation de la parcelle
                                </div>
                                <div class='value'>
                                  {{parcel}}&nbsp;
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class='sample-section-block'>
                          <span class='fr-icon-quote-line fr-icon--sm'></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-12 sample-section-item'>
                                <div class='label'>
                                  Note additionnelle pour identification et
                                  qualité de la personne présente lors du
                                  contrôle.
                                </div>
                                <div class='value'>
                                  {{breaklines notesOnCreation}}&nbsp;
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {{/if}}
                    </div>
                  </section>

                  <section class='sample-section  {{#if fullVersion}}full-version{{/if}}'>
                    <div class='sample-section-header'>
                      <img src='{{inlineImage "food.svg"}}' />
                      <span>Matrice contrôlée</span>
                    </div>
                    <div class='sample-section-body'>
                      <div class='sample-section-block'>
                        <span
                          class='fr-icon-restaurant-line fr-icon--sm'
                        ></span>
                        <div class='fr-container fr-pl-1w'>
                          <div class='fr-grid-row fr-grid-row--gutters'>
                            <div class='fr-col-6 sample-section-item'>
                              <div class='label'>
                                Catégorie de matrice programmée
                              </div>
                              <div class='value'>
                                {{matrixKind}}&nbsp;
                              </div>
                            </div>
                            <div class='fr-col-6 sample-section-item'>
                              <div class='label'>
                                Matrice
                              </div>
                              <div class='value'>
                                {{matrix}}&nbsp;
                              </div>
                            </div>
                            <div class='fr-col-6 sample-section-item'>
                              <div class='label'>
                                LMR/ Partie du végétal concernée
                              </div>
                              <div class='value'>
                                {{matrixPart}}&nbsp;
                              </div>
                            </div>
                            {{#if fullVersion}}
                              <div class='fr-col-12 sample-section-item'>
                                <div class='label'>
                                  Details de la matrice
                                </div>
                                <div class='value'>
                                  {{matrixDetails}}&nbsp;
                                </div>
                              </div>
                            {{/if}}
                          </div>
                        </div>
                      </div>
                      {{#if fullVersion}}
                        <div class='sample-section-block'>
                          <span class='fr-icon-seedling-line fr-icon--sm'></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Type de culture
                                </div>
                                <div class='value'>
                                  {{cultureKind}}&nbsp;
                                </div>
                              </div>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Stade de prélèvement
                                </div>
                                <div class='value'>
                                  {{stage}}&nbsp;
                                </div>
                              </div>
                            </div>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-6 sample-section-item'>
                                {{#if matrix}}
                                  {{#if sample.releaseControl}}
                                    <div class='label'>
                                      Type de contrôle
                                    </div>
                                    <div class='value'>
                                      Contrôle libératoire
                                    </div>
                                  {{/if}}
                                {{else}}
                                  <div class='label'>
                                    Type de contrôle
                                  </div>
                                  <div class='value'>
                                    &nbsp;
                                  </div>
                                {{/if}}
                              </div>
                              <div class='fr-col-6 sample-section-item'>
                                <div class='label'>
                                  Laboratoire destinataire
                                </div>
                                <div class='value'>
                                  {{#if laboratory}}
                                    {{laboratory.name}}
                                  {{else}}
                                    &nbsp;
                                  {{/if}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {{#if sampleDocuments}}
                          <div class='sample-section-block'>
                            <span class='fr-icon-attachment-line fr-icon--sm'></span>
                            <div class='fr-container fr-pl-1w'>
                              <div class='fr-grid-row fr-grid-row--gutters'>
                                {{#each sampleDocuments}}
                                  <div class='fr-col-3 sample-section-item'>
                                    <div class='label'>
                                      Pièce jointe n°{{inc @index}}
                                    </div>
                                    <div class='value'>
                                      {{filename}}&nbsp;
                                    </div>
                                  </div>
                                  <div class='fr-col-3 sample-section-item'>
                                    <div class='label'>
                                      &nbsp;
                                    </div>
                                    <div class='value'>
                                      {{legend}}&nbsp;
                                    </div>
                                  </div>
                                {{/each}}
                              </div>
                            </div>
                          </div>
                        {{/if}}

                        <div class='sample-section-subtitle fr-mt-3w'>
                          Analyses demandées
                        </div>
                        <div class='sample-section-block'>
                          <span
                            class='fr-icon-microscope-line fr-icon--sm'
                          ></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-12 sample-section-item'>
                                {{#if matrix}}
                                  {{#isDefinedArray monoSubstances}}
                                    <div class='label'>
                                      Analyse mono-résidu
                                    </div>
                                    {{#each monoSubstances}}
                                      <div class='value'>
                                        {{this}}
                                      </div>
                                    {{/each}}
                                  {{/isDefinedArray}}
                                {{else}}
                                  <div class='label'>
                                    Analyse mono-résidu
                                  </div>
                                  <div class='value'>
                                    &nbsp;
                                  </div>
                                  <div class='value'>
                                    &nbsp;
                                  </div>
                                  <div class='value'>
                                    &nbsp;
                                  </div>
                                {{/if}}
                              </div>
                              <div class='fr-col-12 sample-section-item'>
                                {{#if matrix}}
                                  {{#isDefinedArray multiSubstances}}
                                    <div class='label'>
                                      Analyse multi-résidus dont :
                                    </div>
                                    {{#each multiSubstances}}
                                      <div class='value'>
                                        {{this}}
                                      </div>
                                    {{/each}}
                                  {{/isDefinedArray}}
                                {{else}}
                                  <div class='label'>
                                    Analyse multi-résidus
                                  </div>
                                  <div class='value'>
                                    &nbsp;
                                  </div>
                                  <div class='value'>
                                    &nbsp;
                                  </div>
                                  <div class='value'>
                                    &nbsp;
                                  </div>
                                {{/if}}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class='sample-section-block'>
                          <span class='fr-icon-quote-line fr-icon--sm'></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-12 sample-section-item'>
                                <div class='label'>
                                  Note additionnelle
                                </div>
                                <div class='value'>
                                  {{breaklines notesOnMatrix}}&nbsp;
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {{/if}}
                    </div>
                  </section>

                  <section class='sample-section  {{#if fullVersion}}full-version{{/if}}'>
                    <div class='sample-section-header'>
                      <img src='{{inlineImage "hands.svg"}}' />
                      <span>
                        Échantillons
                      </span>
                    </div>
                    <div class='sample-section-body'>
                      <div class='sample-section-block'>
                        <div class='notice'>
                          En application de l’article R. 250-2 du code rural et
                          de la pêche maritime, l(es)‘échantillon(s) a (ont)
                          été placé(s) sous scellé(s). L'étiquette
                          d’identification comportant le numéro est glissée dans
                          l'emballage placé sous scellé porteur d’un numéro
                          d’ordre unique.
                          {{#if fullVersion}}
                            <br />
                            En application de l’article R.250-2 du code rural et
                            de la pêche maritime, les dispositions de l’article 35 du règlement (UE) 2017/625 du parlement
                            européen et du Conseil du 15
                            mars 2017 s’appliquent à tous les prélèvements d’échantillon réalisés en application du présent
                            livre et notamment en application du paragraphe 3 de l’article 35 du même règlement.
                            <br />
                            En application de l’article R.250-2 les échantillons prélevés ne donnent lieu à aucun remboursement.
                            <br />
                          {{/if}}
                          Dans le cas où un des échantillons a été remis au détenteur, ce dernier en a accepté le dépôt et s’est
                          engagé à le conserver sous température négative.
                        </div>
                      </div>
                      {{#each sampleItems}}
                        {{#if (or ../fullVersion currentItem)}}
                          <div class="sample-item {{#if currentItem}}current-item indent-back{{/if}}">
                            <div class='sample-section-subtitle'>
                              <div>Échantillon n°{{itemNumber}}</div>
                            </div>
                            <div class='sample-section-block'>
                              <span
                                class='fr-icon-test-tube-line fr-icon--sm'
                              ></span>
                              <div class='fr-container fr-pl-1w'>
                                <div class='fr-grid-row fr-grid-row--gutters'>
                                  <div class='fr-col-3 sample-section-item'>
                                    <div class='label'>
                                      Nombre
                                    </div>
                                    <div class='value'>
                                      {{quantity}}&nbsp;
                                    </div>
                                  </div>
                                  <div class='fr-col-3 sample-section-item'>
                                    <div class='label'>
                                      Unité de mesure
                                    </div>
                                    <div class='value'>
                                      {{quantityUnit}}&nbsp;
                                    </div>
                                  </div>
                                  <div class='fr-col-6 sample-section-item'>
                                    <div class='label'>
                                      Numéro de scellé
                                    </div>
                                    <div class='value'>
                                      {{sealId}}&nbsp;
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class='sample-section-block'>
                              <span
                                class='fr-icon-send-plane-line fr-icon--sm'
                              ></span>
                              <div class='fr-container fr-pl-1w'>
                                <div class='fr-grid-row fr-grid-row--gutters'>
                                  <div class='fr-col-6 sample-section-item'>
                                    {{#if (eq itemNumber 1)}}
                                      <div class='label'>
                                        Destinataire de l'échantillon
                                      </div>
                                      <div class='value'>
                                        Laboratoire
                                      </div>
                                    {{/if}}
                                    {{#if (or (eq itemNumber 2) (eq itemNumber 3))}}
                                      <fieldset class="fr-fieldset fr-px-1v">
                                        <legend class="fr-fieldset__legend fr-col-12 fr-pb-1w label">
                                          Destinataire de l'échantillon
                                        </legend>
                                        <div class="fr-grid-row fr-grid-row--gutters fr-mx-0">
                                          <div class="fr-radio-group fr-col-12 fr-py-0">
                                            <input type="radio" {{#if (eq recipientKind 'Operator')}}checked{{/if}}>
                                            <label class="fr-label fr-pt-1v fr-pl-3w">Détenteur</label>
                                          </div>
                                          <div class="fr-radio-group fr-col-12 fr-py-0">
                                            <input type="radio" {{#if (eq recipientKind 'Sampler')}}checked{{/if}}>
                                            <label class="fr-label fr-pt-1v fr-pl-3w">Préleveur</label>
                                          </div>
                                        </div>
                                      </fieldset>
                                    {{/if}}
                                  </div>
                                  <div class='fr-col-6 sample-section-item'>
                                    <div class='fr-container fr-pl-1w'>
                                      <fieldset class="fr-fieldset fr-px-0">
                                        <legend class="fr-fieldset__legend fr-col-12 fr-pb-1w label">
                                          Directive 2002/63
                                        </legend>
                                        <div class="fr-grid-row fr-grid-row--gutters fr-mx-0">
                                          <div class="fr-radio-group fr-col-12 fr-py-0">
                                            <input type="radio" {{#if (eq compliance200263 true)}}checked{{/if}}>
                                            <label class="fr-label fr-pt-1v fr-pl-3w">Respectée</label>
                                          </div>
                                          <div class="fr-radio-group fr-col-12 fr-py-0">
                                            <input type="radio" {{#if (eq compliance200263 false)}}checked{{/if}}>
                                            <label class="fr-label fr-pt-1v fr-pl-3w">Non Respectée</label>
                                          </div>
                                        </div>
                                      </fieldset>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        {{/if}}
                      {{/each}}
                      {{#if fullVersion}}
                        <div class='sample-section-block indent-back'>
                          <span class='fr-icon-quote-line fr-icon--sm'></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-12 sample-section-item'>
                                <div class='label'>
                                  Note additionnelle concernant les échantillons
                                </div>
                                <div class='value'>
                                  {{breaklines notesOnItems}}&nbsp;
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class='sample-section-block indent-back'>
                          <span
                            class='fr-icon-error-warning-line fr-icon--sm'
                          ></span>
                          <div class='fr-container fr-pl-1w'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-12 sample-section-item'>
                                <div class='notice'>
                                  En application de l’article R. 250-2 les
                                  échantillons prélevés ne donnent lieu à aucun
                                  remboursement.
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class='sample-section-block indent-back'>
                          <span class='fr-icon-user-line fr-icon--sm'></span>
                          <div class='fr-container fr-pl-1w'>
                            <fieldset class="fr-fieldset fr-px-0 fr-my-0">
                              <legend class="fr-fieldset__legend fr-col-12 fr-pb-1w label">
                                Le détenteur accepte les informations portées au présent procès verbal
                              </legend>
                              <div class="fr-grid-row fr-grid-row--gutters fr-mx-0 fr-mb-2w">
                                <div class="fr-radio-group fr-col-12 fr-py-0">
                                  <input type="radio" {{#if (eq ownerAgreement true)}}checked{{/if}}>
                                  <label class="fr-label fr-pt-1v">Oui</label>
                                </div>
                                <div class="fr-radio-group fr-col-12 fr-py-0">
                                  <input type="radio"{{#if (eq ownerAgreement false)}}checked{{/if}}>
                                  <label class="fr-label fr-pt-1v">Non</label>
                                </div>
                              </div>
                            </fieldset>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-12 sample-section-item'>
                                <div class='label'>
                                  Déclaration du détenteur
                                </div>
                                <div class='value'>
                                  {{breaklines notesOnOwnerAgreement}}&nbsp;
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {{#if ownerEmail}}
                          <div class='sample-section-block indent-back'>
                            <span class='fr-icon-mail-line fr-icon--sm'></span>
                            <div class='fr-container fr-pl-1w'>
                              <div class='fr-grid-row fr-grid-row--gutters'>
                                <div class='fr-col-12 sample-section-item'>
                                  <div class='label'>
                                    Le détenteur de la marchandise a reçu par e-mail le procès verbal du prélèvement
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        {{/if}}
                      {{/if}}
                    </div>
                  </section>
                  {{#if fullVersion}}
                    {{#if hasNoteToSampler}}
                      <div class='fr-alert fr-alert--warning fr-mt-8w'>
                        <h3 class='fr-alert__title'>Conservation et transmission
                          de l’échantillon</h3>
                        <p>
                          L'échantillon doit être conservé dans des conditions optimales pour préserver ses propriétés initiales.
                          <br/>
                          La personne qui accepte le dépôt de ce scellé est prévenue qu'elle assume l'entière responsabilité de sa conservation.
                        </p>
                      </div>
                    {{/if}}
                  {{/if}}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
