<html lang='fr'>
  <head>
    <title>Prélèvement {{reference}}</title>
  </head>
  <body>
    <header role='banner' class='fr-header'>
      <div class='fr-header__body'>
        <div class='fr-container'>
          <div class='fr-header__body-row' >
            {{> headerBrand}}
            <div class='document-title'>
              {{#if fullVersion}}
                <b>Procès-verbal de prélèvement</b>
                <br />
                Prélèvement
                <b>{{reference}}</b>
              {{else}}
                <b>Étiquette d'envoi du prélèvement</b>
                <br />
                Prélèvement
                <b>{{reference}}</b>
              {{/if}}
            </div>
            <div class='barcode' >
              {{{barcodeSvg}}}
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <td>
              <div class='header-space'>&nbsp;</div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class='fr-container'>
                {{> contextSection isFullVersion=fullVersion}}

                {{> matrixSection isFullVersion=fullVersion}}

                <section class='sample-section {{#if fullVersion}}full-version{{/if}}'>
                  <div>
                    <span class="uppercase" style="font-weight: bold;font-size: 12px;">
                      Échantillons prélevés
                    </span>
                    {{> sampleItemsNotice}}
                  </div>
                  <div class='fr-grid-row fr-grid-row--gutters sample-items-container'>
                    {{#each sampleItems}}
                      {{#if (or ../fullVersion currentItem)}}
                        <div class="{{#if ../fullVersion}}fr-col-4{{else}}fr-col-12{{/if}}">
                          {{#if (and ../fullVersion currentItem)}}
                            <div class='current-sample-item uppercase'>
                              Exemplaire rattaché au procès-verbal
                            </div>
                          {{/if}}
                          <div class='sample-item-container {{#if ../fullVersion}}sample-item-card{{/if}}'>
                            <div class='fr-grid-row fr-grid-row--gutters'>
                              <div class='fr-col-12'>
                                {{#if ../fullVersion}}
                                  <div class='sample-item-title-container'>
                                    <div class="sample-item-title" style="flex-grow: 1">
                                      Échantillon n°{{itemNumber}}
                                    </div>
                                    <div class='fr-badge fr-badge--yellow-tournesol fr-badge--sm fr-badge--no-icon'>
                                      exemplaire n°{{copyNumber}}
                                    </div>
                                  </div>
                                  <div class="sample-item-title">{{substanceKind}}</div>
                                {{else}}
                                  <div class='sample-item-title-container'>
                                    <div class="sample-item-title">
                                      Échantillon n°{{itemNumber}} - {{substanceKind}}
                                    </div>
                                    <div class='fr-badge fr-badge--yellow-tournesol fr-badge--sm fr-badge--no-icon fr-ml-1w'>
                                      exemplaire n°{{copyNumber}}
                                    </div>
                                  </div>
                                {{/if}}
                              </div>
                              {{#*inline "quantityField"}}
                                <div class='sample-section-item'>
                                  <div class='label'>Quantité</div>
                                  <div class='value {{#if (isEmpty quantity)}}empty{{/if}}'>
                                    {{quantity}}
                                  </div>
                                </div>
                              {{/inline}}
                              {{#*inline "sealField"}}
                                <div class='sample-section-item'>
                                  <div class='label'>Numéro de scellé</div>
                                  <div class='value {{#if (isEmpty sealId)}}empty{{/if}}'>
                                    {{sealId}}
                                  </div>
                                </div>
                              {{/inline}}
                              {{#*inline "recipientField"}}
                                <div class='sample-section-item'>
                                  <div class='label'>Destinataire</div>
                                  {{#if (eq copyNumber 1)}}
                                    <div class='value {{#if (isEmpty laboratory)}}empty{{/if}}'>
                                      {{#if laboratory}}
                                        {{laboratory.name}}<br />
                                        {{#if laboratory.billingAddress}}
                                          {{laboratory.billingAddress}} - {{laboratory.billingPostalCode}} {{laboratory.billingCity}}
                                        {{else}}
                                          {{laboratory.address}} - {{laboratory.postalCode}} {{laboratory.city}}
                                        {{/if}}
                                      {{/if}}
                                    </div>
                                  {{/if}}
                                  {{#if (or (eq copyNumber 2) (eq copyNumber 3))}}
                                    <div class='value {{#if (isEmpty recipientKind)}}empty{{/if}}'>
                                      {{recipientKind}}
                                    </div>
                                  {{/if}}
                                </div>
                              {{/inline}}
                              {{#if ../fullVersion}}
                                {{#if quantity}}
                                  <div class='fr-col-12'>{{> quantityField}}</div>
                                {{/if}}
                                <div class='fr-col-12'>{{> sealField}}</div>
                                <div class='fr-col-12'>{{> recipientField}}</div>
                                {{#if (eq ../subPlanNumber 'PPV')}}
                                  <div class='fr-col-12'>
                                    <div class='sample-section-item'>
                                      <div class='label'>Directive 2002/63</div>
                                      <div class='value {{#if (isEmpty compliance200263)}}empty{{/if}} {{#if (eq compliance200263 true)}}fr-label--success{{/if}} {{#if (eq compliance200263 false)}}fr-label--error{{/if}}'>
                                        {{#if (eq compliance200263 true)}}Respectée{{/if}}
                                        {{#if (eq compliance200263 false)}}Non Respectée{{/if}}
                                      </div>
                                    </div>
                                  </div>
                                {{/if}}
                              {{else}}
                                {{#if (eq ../subPlanNumber 'PPV')}}
                                  {{#if quantity}}
                                    <div class='fr-col-4'>{{> quantityField}}</div>
                                  {{else}}
                                    <div class='fr-col-4'>
                                      <div class='sample-section-item'>
                                        <div class='label'>Nombre</div>
                                        <div class='value empty'></div>
                                      </div>
                                    </div>
                                    <div class='fr-col-4'>
                                      <div class='sample-section-item'>
                                        <div class='label'>Unité de mesure</div>
                                        <div class='value empty'></div>
                                      </div>
                                    </div>
                                  {{/if}}
                                  <div class='fr-col-4'>{{> sealField}}</div>
                                  <div class='fr-col-6'>{{> recipientField}}</div>
                                  <div class='fr-col-6'>
                                    <div class='sample-section-item'>
                                      <div class='label'>Directive 2002/63</div>
                                      <div class="fr-radio-group">
                                        <input type="radio" {{#if (eq compliance200263 true)}}checked{{/if}}>
                                        <label class="fr-label">Respectée</label>
                                        <input type="radio"{{#if (eq compliance200263 false)}}checked{{/if}}>
                                        <label class="fr-label">Non Respectée</label>
                                      </div>
                                    </div>
                                  </div>
                                {{else}}
                                  <div class='fr-col-8'>
                                    <div class='fr-grid-row fr-grid-row--gutters'>
                                      {{#if quantity}}
                                        <div class='fr-col-6'>{{> quantityField}}</div>
                                      {{else}}
                                        <div class='fr-col-3'>
                                          <div class='sample-section-item'>
                                            <div class='label'>Nombre</div>
                                            <div class='value empty'></div>
                                          </div>
                                        </div>
                                        <div class='fr-col-3'>
                                          <div class='sample-section-item'>
                                            <div class='label'>Unité de mesure</div>
                                            <div class='value empty'></div>
                                          </div>
                                        </div>
                                      {{/if}}
                                      <div class='fr-col-6'>{{> sealField}}</div>
                                      <div class='fr-col-12'>{{> recipientField}}</div>
                                    </div>
                                  </div>
                                  <div class='fr-col-4'>
                                    <div class='sample-section-item'>
                                      <div class='barcode'>{{{barcode}}}</div>
                                    </div>
                                  </div>
                                {{/if}}
                              {{/if}}
                            </div>
                          </div>
                        </div>
                      {{/if}}
                    {{/each}}
                    {{#if fullVersion}}
                      <div class='fr-col-12'>
                        <div class='sample-section-item'>
                          <div class='label'>
                            Note additionnelle concernant les échantillons
                          </div>
                          <div class='value {{#if (isEmpty notesOnItems)}}empty{{/if}}'>
                            {{breaklines notesOnItems}}
                          </div>
                        </div>
                      </div>
                    {{/if}}
                  </div>
                </section>

                {{#if fullVersion}}
                  <section class='sample-section border {{#if fullVersion}}full-version{{/if}}'>
                    <div class='fr-container'>
                      <div class='fr-grid-row fr-grid-row--gutters'>
                        <div class='fr-col-6'>
                          <div class='sample-section-item'>
                            <div class='value'>
                              Le détenteur accepte les informations portées au présent procès-verbal
                            </div>
                            <div class="fr-radio-group">
                              <input type="radio" {{#if (eq ownerAgreement true)}}checked{{/if}}>
                              <label class="fr-label">Oui</label>
                              <input type="radio"{{#if (eq ownerAgreement false)}}checked{{/if}}>
                              <label class="fr-label">Non</label>
                            </div>
                          </div>
                          {{#if ownerEmail}}
                            <div class='label fr-mt-1w'>
                              Le détenteur de la marchandise a reçu par e-mail le procès-verbal du prélèvement
                            </div>
                          {{/if}}
                        </div>
                        <div class='fr-col-6'>
                          <div class='sample-section-item'>
                            <div class='label'>
                              Déclaration du détenteur
                            </div>
                            <div class='value {{#if (isEmpty notesOnOwnerAgreement)}}empty{{/if}}'>
                              {{breaklines notesOnOwnerAgreement}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                {{/if}}

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
